@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

form label {
    margin: 1rem;
}

form button {
    padding: 0.5rem;
}

.converted-value {
    text-align: center;
    opacity: 0;
}

p {
    text-align: center;
    padding: 1rem;
}